.card{
    position: relative;
    width: 100%;
    overflow: hidden;
    /*border-radius: 10px;*/
}

.project img{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}

.fa-clipboard-list{
    margin-left: 3px;
}

.fa-clipboard-list,
.fa-github-alt,
.fa-globe{
    margin-right: 8px;

}



.card_layer{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 157%;
    left: 0;
    justify-content: center;
    align-content: center;
    /*border-radius: 10px;*/
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform: skewY(30deg);
}

.colorOne{
    background: linear-gradient(138deg, rgba(0, 0, 0, 0.74) 25%, rgb(0, 174, 255) 100%);
}
.colorTwo{
    background: linear-gradient(138deg, rgba(0, 0, 0, 0.74) 25%, rgb(255, 0, 0) 100%);
}
.colorThree{
    background: linear-gradient(138deg, rgba(0, 0, 0, 0.74) 25%, rgb(30, 255, 0) 100%);
}
.colorFour{
    background: linear-gradient(138deg, rgba(0, 0, 0, 0.74) 25%, rgb(4, 0, 255) 100%);
}
.colorFive{
    background: linear-gradient(138deg, rgba(0, 0, 0, 0.74) 25%, rgb(238, 255, 0) 100%);
}
.colorSix{
    /*background: linear-gradient(138deg, rgba(0, 0, 0, 0.74) 25%, rgb(0, 204, 255) 100%);*/
    background: linear-gradient(138deg, rgba(0, 0, 0, 0.74) 25%, rgb(255, 115, 0) 100%);
}


.card_title, 
.card_description{
    display: block;
    width: 100%;
    text-align: left;
    text-shadow: 5px 5px 3px black;
    /*margin-left: 20%;*/
    transform: skewY(-30deg);
}

.linksCont{
    margin-top: -50px;
    margin-left: -50px;
}
.detail{
    margin-left: 10%;
}
.site{
    margin-top: -10px;
    margin-left: 30%;
}
.git{
    margin-top: -10px;
    margin-left: 50%;
}


.enter-top{
    animation-name: enterTop;
}
.enter-bottom{
    animation-name: enterBottom;
}
.enter-left{
    animation-name: enterLeft;
}
.enter-right{
    animation-name: enterRight;
}

.leave-top{
    animation-name: leaveTop;
}
.leave-bottom{
    animation-name: leaveBottom;
}
.leave-left{
    animation-name: leaveLeft;
}
.leave-right{
    animation-name: leaveRight;
}


@keyframes enterTop{
    from{
        top: -157%;
        left: 0;
    }
    to{
        top: 0;
        left: 0;
    }
}

@keyframes leaveTop{
    from{
        top: 0;
        left: 0;
    }
    to{
        top: -157%;
        left: 0;
    }
}

@keyframes enterBottom{
    from{
        top: 157%;
        left: 0;
    }
    to{
        top: 0;
        left: 0;
    }
}

@keyframes leaveBottom{
    from{
        top: 0;
        left: 0;
    }
    to{
        top: 157%;
        left: 0;
    }
}

@keyframes enterLeft{
    from{
        top: 0;
        left: -157%;
    }
    to{
        top: 0;
        left: 0;
    }
}

@keyframes leaveLeft{
    from{
        top: 0;
        left: 0;
    }
    to{
        top: 0;
        left: -157%;
    }
}

@keyframes enterRight{
    from{
        top: 0;
        left: 157%;
    }
    to{
        top: 0;
        left: 0;
    }
}

@keyframes leaveRight{
    from{
        top: 0;
        left: 0;
    }
    to{
        top: 0;
        left: 157%;
    }
}
