<div id="portfolioContent" >
    
    <h2>Projectos</h2>
    <ul class="projectsCont">
        <li  class="project" *ngFor='let project of projects'>
           
                <!--<img src="/src/assets/img/pat.jpg">-->
                <div class="card">
                    <img class="imgzoom" src="{{url+'get-image/'+project.image}}" *ngIf="project.image"/>

                    <div class="card_layer">
                        <h3 class="card_title"> <a (click)="openDialog(project)" ><i class="fas fa-clipboard-list"></i> Detail</a></h3>
                        <h3 class="card_title"><a title='GitHub Repo'  href="{{project.git}}" target="_blank"><i class="fab fa-github-alt"></i>Go to the GitHub Repo</a></h3>
                        <h3 class="card_title"><a title='Website' href="{{project.site}}" target="_blank"><i class="fas fa-globe"></i>Visit the Site</a></h3>
                        <!--<p class="card_description">Descripcion del proyecto</p>
                        <p class="card_description">Descripcion del proyecto</p>-->
                        <h3 class="card_title"> <a [routerLink]="['/proyecto', project._id]" ><i class="fas fa-clipboard-list"></i> Detail</a></h3>
                    </div>


                </div>
                <h3>{{project.name}}</h3>
                <p>{{project.category}}</p>
            
        </li>
    </ul>
</div>

<!--[routerLink]="['/proyecto', project._id]"-->

<!--<i class="fas fa-link"></i>-->
<!--<i class="far fa-hand-pointer"></i>-->


