.footer{
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: 5px auto;
  color: white;
  font-family: CormorantUpright;
  color: white;
}

.footer a{
  text-decoration: none;
  color: yellowgreen;
  text-shadow: 2px 2px 2px black;
}

.arrow{
  position: fixed;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -90px;
  left: 50%;
  margin-left: -20px;
  padding: 20px;
  border-radius: 50em;
  background-color: rgb(50, 116, 238);
  background-size: 20px 15px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 10px black;
  z-index: 99;
}

.bounce{
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce{
  0%, 20%, 50%, 80%, 100%{
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40%{
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  60%{
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
}

@media screen and (max-width: 1000px){
  .footer{
    justify-content: center;
  }
}

@media screen and (max-width: 730px){
  .footer{
    font-size: 15px;
  }
}

@media screen and (max-width: 500px){
  .footer{
    font-size: 13px;
  }
}

@media screen and (max-width: 350px){
  .footer{
    font-size: 12px;
  }
}
