.sidenav-container {
  background-color: rgba(48, 44, 44, 0.671);
}

.sidenav {
  width: 60%;
  background-color: rgba(0, 0, 0, 0.788);
}

.sidenav.mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.438);
  top: 0;
  z-index: 1;
}

mat-icon{
  color: white;
}

.ulNav{
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: fit-content;
  height: fit-content;
  margin: 0px auto;
  margin-top: -3px;
}

.liNav{
  display: inline-block;
  line-height: 40px;
}

.linkNav{
  display: inline-block;
  height: inherit;
  padding-right: 20px;
  padding-left: 10px;
  font-size: 15px;
  font-family: Bilbo;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
  transition: all 800ms;
  cursor: pointer;
}

.linkNav:hover,
.linkToolbar:hover,
.actived{
  color: yellowgreen;
}

.ulToolbar{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  margin: 0px auto;
  margin-top: -3px;
  list-style: none;
  justify-content: space-between;
}

.liToollbar{
  display: inline-block;
  text-align: center;
  font-family: CormorantUpright;
  letter-spacing: 3px;
  font-size: 17px;
}

.linkToolbar{
  display: inline-block;
  height: fit-content;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 3px;
  text-decoration: none;
  font-size: 17px;
  color: white;
  transition: all 800ms;
  cursor: pointer;
}

.fontadjust{
  font-size: 10px;
  letter-spacing: 1px;
}

@media (max-width: 800px){
  .linkToolbar{
    padding-right: 5px;
    padding-left: 5px;
    font-size: 13px;
  }
}

@media (min-width: 600px){
  .sidenav {
    display: none;
  }
  button{
    display: none;
  }
}

@media (max-width: 599px){
  .ulToolbar{
    display: none;
  }
}
