<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" 
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <button
        id="buttonNav2"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle();attrRemove()"
        *ngIf="isHandset$ | async"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <ul class="ulNav">
        <li class="liNav" (click)="drawer.toggle();attrRemove()"><a class="linkNav" href="#mainContent" [routerLinkActive]="['actived']">Ulises Villa<span class="fontadjust">Web Developer</span></a></li>
        <li class="liNav" (click)="drawer.toggle();attrRemove()"><a class="linkNav" href="#portfolioContent" [routerLinkActive]="['actived']">Portfolio</a></li>
        <li class="liNav" (click)="drawer.toggle();attrRemove()"><a class="linkNav" href="#skillSet" [routerLinkActive]="['actived']">Skill Set</a></li>
        <li class="liNav" (click)="drawer.toggle();attrRemove()"><a class="linkNav" href="#experience" [routerLinkActive]="['actived']">Certifications</a></li>
      </ul>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        id="buttonNav"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle(); transparentWallOff()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <ul class="ulToolbar">
        <li id="itemsLeft" class="liToollbar"><a class="linkToolbar" href="#mainContent" [routerLinkActive]="['actived']">Ulises Villa <span class="fontadjust">Web Developer</span></a></li>
        <li class="liToollbar"><a class="linkToolbar" [routerLink]="['/']" [routerLinkActive]="['actived']">Portfolio</a></li>
        <div class="itemsRight">
          <li class="liToollbar"><a class="linkToolbar" href="#portfolioContent" [routerLinkActive]="['actived']">Portfolio</a></li>
          <li class="liToollbar"><a class="linkToolbar" href="#skillSet" [routerLinkActive]="['actived']">Skill Set</a></li>
          <li class="liToollbar"><a class="linkToolbar" href="#experience" [routerLinkActive]="['actived']">Certifications</a></li>
       </div>
      </ul>
      
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>


 <!---->

  <!--[routerLink]="['/contacto']"-->
<!--[routerLink]="['/crear-proyecto']"-->
<!--[routerLink]="['/main']"-->
<!--[routerLink]="['/proyectos']"-->


