<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    >
    <mat-toolbar>
      <button
        id="buttonNav2"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle();menuOff()"
        *ngIf="isHandset$ | async"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <ul class="ulNav">
        <li class="liNav" (click)="drawer.toggle();menuOff()"><a class="linkNav mainSection" [routerLinkActive]="['actived']">Ulises Villa<span class="fontadjust"> - Web Developer</span></a></li>
        <li class="liNav" (click)="drawer.toggle();menuOff()"><a class="linkNav projectSection" [routerLinkActive]="['actived']">Portfolio</a></li>
        <li class="liNav" (click)="drawer.toggle();menuOff()"><a class="linkNav skillSection" [routerLinkActive]="['actived']">Skill Set</a></li>
        <li class="liNav" (click)="drawer.toggle();menuOff()"><a class="linkNav experienceSection" [routerLinkActive]="['actived']">Certifications</a></li>
        <li class="liNav" (click)="drawer.toggle();menuOff()"><a class="linkNav contactSection" [routerLinkActive]="['actived']" title="Send me an email">Contact</a></li>
      </ul>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        id="buttonNav"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle(); menuOn()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <ul class="ulToolbar">
        <li id="itemsLeft" class="liToollbar"><a class="linkToolbar mainSection" [routerLinkActive]="['actived']">Ulises Villa <span class="fontadjust"> - Web Developer</span></a></li><!--href="#mainContent"-->
        <div class="itemsRight">
          <li class="liToollbar"><a class="linkToolbar projectSection" [routerLinkActive]="['actived']">Portfolio</a></li><!--href="#portfolioContent"-->
          <li class="liToollbar"><a class="linkToolbar skillSection" [routerLinkActive]="['actived']">Skill Set</a></li><!--href="#skillSet"-->
          <li class="liToollbar"><a class="linkToolbar experienceSection" [routerLinkActive]="['actived']">Certifications</a></li> <!--href="#experience"-->
          <li class="liToollbar"><a class="linkToolbar contactSection" title="Send me an email" [routerLinkActive]="['actived']">Contact</a></li><!--href="#contactContainer"-->
       </div>
      </ul>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
