/*@font-face{
  font-family: "MedulaOne";
  src: url("../../../assets/css/fonts/MedulaOne.ttf");
}*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'MedulaOne', sans-serif;
  font-size: 3em;
}

span:first-of-type {
  margin-right: 5px;
}

span:first-of-type {
  color: transparent;
  background-color: transparent;
  -webkit-animation: fadeWhite 4s forwards;
          animation: fadeWhite 4s forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  position: relative;
}

span:first-of-type:after {
  content: "Ulises";
  position: absolute;
  left: 2px;
  top: 2px;
  clip: rect(0, 900px, 0, 0);
  background-color: transparent;
  color: white;
  animation: glitch 3s infinite alternate-reverse;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

span:first-of-type:before {
  content: "Ulises Villa";
  position: absolute;
  left: -2px;
  top: -2px;
  clip: rect(0, 900px, 0, 0);
  background-color: transparent;
  color: white;
  animation: glitch 3s infinite alternate-reverse;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes fadeWhite {
  100% {
    color: white;
  }
}

@keyframes fadeWhite {
  100% {
    color: white;
  }
}

@-webkit-keyframes glitch {
  0% {
    clip: rect(52px, 9999px, 93px, 0);
  }
  5% {
    clip: rect(11px, 9999px, 84px, 0);
  }
  10% {
    clip: rect(46px, 9999px, 58px, 0);
  }
  15% {
    clip: rect(62px, 9999px, 83px, 0);
  }
  20% {
    clip: rect(75px, 9999px, 26px, 0);
  }
  25% {
    clip: rect(95px, 9999px, 17px, 0);
  }
  30% {
    clip: rect(23px, 9999px, 38px, 0);
  }
  35% {
    clip: rect(93px, 9999px, 23px, 0);
  }
  40% {
    clip: rect(42px, 9999px, 40px, 0);
  }
  45% {
    clip: rect(82px, 9999px, 22px, 0);
  }
  50% {
    clip: rect(51px, 9999px, 33px, 0);
  }
  55% {
    clip: rect(43px, 9999px, 56px, 0);
  }
  60% {
    clip: rect(43px, 9999px, 35px, 0);
  }
  65% {
    clip: rect(58px, 9999px, 31px, 0);
  }
  70% {
    clip: rect(3px, 9999px, 73px, 0);
  }
  75% {
    clip: rect(34px, 9999px, 4px, 0);
  }
  80% {
    clip: rect(9px, 9999px, 71px, 0);
  }
  85% {
    clip: rect(1px, 9999px, 7px, 0);
  }
  90% {
    clip: rect(77px, 9999px, 97px, 0);
  }
  95% {
    clip: rect(3px, 9999px, 79px, 0);
  }
  100% {
    clip: rect(96px, 9999px, 4px, 0);
  }
}

@keyframes glitch {
  0% {
    clip: rect(52px, 9999px, 93px, 0);
  }
  5% {
    clip: rect(11px, 9999px, 84px, 0);
  }
  10% {
    clip: rect(46px, 9999px, 58px, 0);
  }
  15% {
    clip: rect(62px, 9999px, 83px, 0);
  }
  20% {
    clip: rect(75px, 9999px, 26px, 0);
  }
  25% {
    clip: rect(95px, 9999px, 17px, 0);
  }
  30% {
    clip: rect(23px, 9999px, 38px, 0);
  }
  35% {
    clip: rect(93px, 9999px, 23px, 0);
  }
  40% {
    clip: rect(42px, 9999px, 40px, 0);
  }
  45% {
    clip: rect(82px, 9999px, 22px, 0);
  }
  50% {
    clip: rect(51px, 9999px, 33px, 0);
  }
  55% {
    clip: rect(43px, 9999px, 56px, 0);
  }
  60% {
    clip: rect(43px, 9999px, 35px, 0);
  }
  65% {
    clip: rect(58px, 9999px, 31px, 0);
  }
  70% {
    clip: rect(3px, 9999px, 73px, 0);
  }
  75% {
    clip: rect(34px, 9999px, 4px, 0);
  }
  80% {
    clip: rect(9px, 9999px, 71px, 0);
  }
  85% {
    clip: rect(1px, 9999px, 7px, 0);
  }
  90% {
    clip: rect(77px, 9999px, 97px, 0);
  }
  95% {
    clip: rect(3px, 9999px, 79px, 0);
  }
  100% {
    clip: rect(96px, 9999px, 4px, 0);
  }
}
/*# sourceMappingURL=mainGlitch.component.css.map */