<div id="mainContent">
  <div id="mainContainer" class="head">
    <h1 class="title">{{title}}</h1>
    <h2 class="title">{{subtitle}}</h2>
    <a href="#portfolioContent" class="down-arr">&#8595;</a>
    <!--<img class="full-image" src="https://images.unsplash.com/photo-1480506132288-68f7705954bd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1393&q=80">-->
    <img class="full-image" src="assets/img/mainbackground.jpg" >
    ">
    
  </div>
</div>

<app-projects></app-projects>
<app-skillSet></app-skillSet>
<app-experience></app-experience>
