<div id="mainContent">
  <div id="mainContainer" class="head">
    <h1 class="title">
      <em>
        {{title}}
      </em>
    </h1>
    <h2 class="title">
      <span class="typed"></span>
    </h2>

    <div class="" id="words">
      <h2 class="title">
        I am a Web Developer interested in:
        <i class="typedText"> Backend</i>
      </h2>
      <h2 class="title">
        I am a Web Developer interested in:
        <i class="typedText"> Frontend</i>
      </h2>
      <h2 class="title">
        I am a Web Developer interested in:
        <i class="typedText"> Technology</i>
      </h2>
      <h2 class="title">
        I am a Web Developer interested in:
        <i class="typedText"> Movies</i>
      </h2>
      <h2 class="title">
        I am a Web Developer interested in:
        <i class="typedText"> Videogames</i>
      </h2>
    </div>

    <a href="#portfolioContent" class="downArrow bounce">
      <i class="fas fa-sort-down"></i>
    </a>

    <video class="full-image" src="assets/vids/016.mp4" autoplay loop></video>
  </div>
</div>

<app-projects></app-projects>
<app-skillSet></app-skillSet>
<app-experience></app-experience>
