<div id="mainContent">
  <div id="mainContainer" class="head">
    <h1 class="title"><span>{{title}}</span></h1>
    <h2 class="title">{{subtitle}}</h2>
    <!--<span>Ulises</span>
    <span>Web Developer</span>-->
    <a href="#portfolioContent" class="downArrow bounce">&#8595;</a>
    <!--<img class="full-image" src="https://images.unsplash.com/photo-1480506132288-68f7705954bd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1393&q=80">-->
    <!--<img class="full-image" src="assets/img/background/img01.jpg">-->


    <!--<video class="full-image" src="assets/img/vids/01.mp4" autoplay loop></video>-->

    <!--<video class="full-image" src="assets/img/vids/03.mp4" autoplay loop></video>-->
    <!--<video class="full-image" src="assets/img/vids/05.mp4" autoplay loop></video>-->
    <!--<video class="full-image" src="assets/img/vids/06.mp4" autoplay loop></video>-->
    <!--<video class="full-image" src="assets/img/vids/09.mp4" autoplay loop></video>-->
    <!--<video class="full-image" src="assets/img/vids/010.mp4" autoplay loop></video>-->
    <!--<video class="full-image" src="assets/img/vids/012.mp4" autoplay loop></video>-->
    <!--<video class="full-image" src="assets/img/vids/013.mp4" autoplay loop></video>-->
    <!--<video class="full-image" src="assets/img/vids/014.mp4" autoplay loop></video>-->
    <!--<video class="full-image" src="assets/img/vids/015.mp4" autoplay loop></video>-->
    <!--<video class="full-image" src="assets/img/vids/016.mp4" autoplay loop></video>-->
    <!--<video class="full-image" src="assets/img/vids/017.mp4" autoplay loop></video>-->
    <!--<video class="full-image" src="assets/img/vids/018.mp4" autoplay loop></video>-->
    <!--<video class="full-image" src="assets/img/vids/019.mp4" autoplay loop></video>-->


    <video class="full-image" src="assets/img/vids/01-02.mp4" autoplay loop></video>
  </div>
</div>

<app-projects></app-projects>
<app-skillSet></app-skillSet>
<app-experience></app-experience>
