#mainContent{
  width: 100%;
  min-height: 100vh;
  height: auto;
  margin: 0px auto;
  box-shadow: 0px 0px 40px black;
  /*background: rgba(255, 255, 255, 0.7);*/
  /*padding-top: 50px;*/
  background: black;
  color: white;
  text-shadow: 5px 5px 5px black;
  /*border: 1px solid red;*/

}

a,
a:hover,
a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
}

#mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100%;
  color: #FFF;
  /*border: 1px solid red;*/
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /*background: rgb(24, 24, 24, 1);*/
  background: transparent;
}

h1{
  height: fit-content;
  position: relative;
  font-size: 5rem;
  font-family: Bilbo;
  line-height: 1.2;
  letter-spacing: 5px;
  margin: 0px auto;
  align-self: center;
  /*border: 1px solid red;*/
  z-index: 1;

  /*text-shadow: 3px 3px 5px rgb(255, 255, 255);*/
  color: rgb(255, 255, 255);
  /*background: rgba(0,0,0,.7);
  padding: 0px 30px;
  border-radius: 5px;*/
}

h2{
  position: relative;
  line-height: 1.2;
  margin: 0px auto;
  align-self: center;
  /*border: 1px solid red;*/
  z-index: 1;
  padding-top: 20px;
  font-size: 2rem;
  font-family: Bilbo;
  letter-spacing: 3px;
  /*text-shadow: 3px 3px 5px rgb(148, 148, 148);*/
  color: rgb(255, 255, 255);
  background: rgba(0,0,0,.7);
  padding: 0px 30px;
  border-radius: 5px;

}

.down-arr {
  position: relative;
  font-size: 2rem;
  padding: 0 20px 20px 20px;
  bottom: -126px;
  font-size: 50px;
  z-index: 1;
  text-shadow: 3px 3px 5px rgb(148, 148, 148);
  color: yellowgreen;

}

.full-image {
  height: auto;
  margin: 0px auto;
  /*left: 0;*/
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  width: auto;

}



@media screen and (max-width: 500px){
  h1{
    font-size: 3rem;
  }

  h2{
    font-size: 1rem;
  }
}
