<div id="dialogTop" mat-dialog-content class="generalContent">
  <a href="#"></a>
  <h1 class="title">{{data.name}}</h1>

  <h3 class="sectionTitle">This project was built with:</h3>
  <ul class="listCont">
    <li *ngFor="let lang of langs">
      <p>{{lang}}</p>
    </li>
  </ul>

  <img src="assets/img/projects/{{data.image}}" class="imgProject"/>
    <ul class="">
      <li *ngFor="let paragraph of description" class="paragraphList">
        <p class="description">{{paragraph}}</p>
      </li>
    </ul>
  <p>
    <a  class="links" href="{{data.git}}" target="_blank">
      <i class="fab fa-github-alt"></i>
      Go to the GitHub Repo
    </a>
  </p>
  <p>
    <a class="links" href="{{data.site}}" target="_blank">
      <i class="fas fa-globe"></i>
      Visit the Site
    </a>
  </p>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onClickNo()">Close</button>
</div>
