<div id="experience">

    <h1>Certifications</h1>

<div id="content">
    <a (click)="openDialogImg('assets/img/certifications/masterJS.jpg')"><img src="assets/img/certifications/masterJS.jpg" alt="Master en Javascript: JS, jQuery, Angular, NodeJS"></a>
    <a (click)="openDialogImg('assets/img/certifications/MasterPHP.jpg')"><img src="assets/img/certifications/MasterPHP.jpg" alt=""></a>
    <a (click)="openDialogImg('assets/img/certifications/SEO.jpg')"><img src="assets/img/certifications/SEO.jpg" alt=""></a>
    <a (click)="openDialogImg('assets/img/certifications/JavaScriptAlgorithmsDataStructures.jpg')"><img src="assets/img/certifications/JavaScriptAlgorithmsDataStructures.jpg" alt=""></a>
    <a (click)="openDialogImg('assets/img/certifications/frontEnd.jpg')"><img src="assets/img/certifications/frontEnd.jpg" alt=""></a>
    <a (click)="openDialogImg('assets/img/certifications/ResponsiveWebDesign.jpg')"><img src="assets/img/certifications/ResponsiveWebDesign.jpg" alt=""></a>
</div>
 

</div>
