<div id="experience">

    <h1>Certifications</h1>

<div id="content">
    <img src="assets/img/certifications/masterJS.jpg" alt="Master en Javascript: JS, jQuery, Angular, NodeJS">
    <img src="assets/img/certifications/MasterPHP.jpg" alt="">
    <img src="assets/img/certifications/SEO.jpg" alt="">
    <img src="assets/img/certifications/JavaScriptAlgorithmsDataStructures.jpg" alt="">
    <img src="assets/img/certifications/frontEnd.jpg" alt="">
    <img src="assets/img/certifications/ResponsiveWebDesign.jpg" alt="">
</div>
 

</div>
